* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 16px;
}
#unordered {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  line-height: 1.5;
}
#ordered {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}
.item {
  color: blue;
}
